.header {
    padding: 1rem 0;
    margin: 0 2rem;
    font-size: 1.25rem;
    &__title {
        font-weight: bold;
        text-decoration: none;
    }
    &__link {
        color: #000;
        transition: all 0.25s ease-in-out 0s;
        &--active,
        &:hover {
            text-decoration: none;
            color: var(--primary);
        }
    }
}

.justify-content-between {
    display: flex;
    justify-content: space-between;
}