.banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 25rem;
    background-image: url(../../assets/images/orange-bg.jpg);
    background-position: bottom;
    background-size: cover;
    &__title {
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
    }
}